In [ ]:
# 반복문

# while : 조건이 맞으면 무한반복
# for : 순서가 있는 유한반복

# while 조건:

hit = 0
while hit < 10:
  hit = hit + 1
  print('나무를 {}번 찍었습니다.'.format(hit))

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.

In [ ]:
coffee = 10

while True:
  coffee = coffee - 1
  print('커피를 한 잔 팔고 {}잔 남았습니다.'.format(coffee))
  if coffee == 0:
    print('커피를 모두 팔았습니다.')
    break # break를 만나면, 그 순간 반복문을 강제로 나가게 된다.

커피를 한 잔 팔고 9잔 남았습니다.
커피를 한 잔 팔고 8잔 남았습니다.
커피를 한 잔 팔고 7잔 남았습니다.
커피를 한 잔 팔고 6잔 남았습니다.
커피를 한 잔 팔고 5잔 남았습니다.
커피를 한 잔 팔고 4잔 남았습니다.
커피를 한 잔 팔고 3잔 남았습니다.
커피를 한 잔 팔고 2잔 남았습니다.
커피를 한 잔 팔고 1잔 남았습니다.
커피를 한 잔 팔고 0잔 남았습니다.
커피를 모두 팔았습니다.

In [ ]:
a= 0 

while a < 10:
  a += 1
  if a % 2 == 0:
    continue
  print(a)

1
3
5
7
9

In [ ]:
# 퀴즈: while문을 사용해서 1~1000까지 3의 배수의 합을 구하세요 (답: 166833)

a = 1
s = 0
while a <= 1000:
  if a % 3 == 0:
    s = s + a
  a += 1
print(s)

166833

In [ ]:
box = ['아이유', '수지', '로제']

for i in box:
  print(i)

아이유
수지
로제

In [ ]:
box = [(1,2), (3,4), (5,6)]

for i in box:
  print(i)

for i,j in box:
  print(i)

for i,j in box:
  print(i+j)

(1, 2)
(3, 4)
(5, 6)
1
3
5
3
7
11

In [ ]:
students = [90, 25, 75, 45, 100]
num = 0

for i in students:
  num += 1
  if i > 60:
    print(f'{num}번 학생 합격 -- {i}점')

1번 학생 합격 -- 90점
3번 학생 합격 -- 75점
5번 학생 합격 -- 100점

In [ ]:
students = [90, 25, 75, 45, 100]
num = 0

for i in students:
  num += 1
  if i < 60:
    continue
  print(f'{num}번 학생 합격 -- {i}점')

1번 학생 합격 -- 90점
3번 학생 합격 -- 75점
5번 학생 합격 -- 100점

In [ ]:
# 1~100 까지 더하면? 5050

a = 0
for i in range(1, 101):
  a += i
print(a)

5050

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(2,10):
  print(i,'단-')
  for j in range(1,10):
    print('{} X {} = {}'.format(i,j,i*j))
  print()

2 단-
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 단-
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 단-
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 단-
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 단-
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 단-
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 단-
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 단-
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
for i in range(5,0,-1):
  print('*'*i)

*****
****
***
**
*

In [ ]:
box = []
num = 1
for i in range(1,6):
  box.append(i)
print(box)

[1, 2, 3, 4, 5]

In [ ]:
box = [i for i in range(1,11)]
box

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
box = [i for i in range(1,11) if i % 2 == 0]
box

[2, 4, 6, 8, 10]

In [ ]:
box = [i*j for i in range(1,11) for j in range(1,11)]
box

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 90,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]

In [ ]:
# 함수 : 미리 만들어놓고 필요할 때 가져다 쓰는 것

# def 함수이름(매개변수)

def add(a, b):
  return a + b

print(add(3,4))

7

In [ ]:
# Quiz: 직각 삼각형의 밑변과 높이의 길이를 넣어주면 빗변의 길이를 반환해주는 함수를 만드세요

# import math

def triangle(a,b):
  # return math.sqrt(a*a + b*b)
  return (a**2 + b**2) ** (1/2)

print(triangle(3,4))

5.0

In [ ]:
def intro(name, age, sex = True):
  print('나의 이름은 {}입니다'.format(name))
  print('나의 나이는 {}입니다'.format(age))
  if sex == True:
    print('나는 남자입니다')
  else:
    print('나는 여자입니다')

intro('곽경일', 29)

intro('장원영', 18, 5)  # sex 자리에 1을 쓰면 True로 인식, 나머지는 False

나의 이름은 곽경일입니다
나의 나이는 29입니다
나는 남자입니다
나의 이름은 장원영입니다
나의 나이는 18입니다
나는 여자입니다

In [ ]:
def test():
  a = 5 # 함수 안에 있는 변수는 함수가 끝나면 사라진다
  return a

a = 0
test()
print(a)

a = test()
print(a)

0
5

In [ ]:
# 아주 간단한 함수를 만들 때 lambda 사용

add = lambda a,b:a+b

# 함수 매개변수로 함수를 사용할 때 간결하게 lambda로 정의해서 사용할 수 있다
add(3,5)

8

In [ ]:
def factorial(n):
  a = 1
  for i in range(1, n+1):
    a *= i
  return a

factorial(5)

120

In [ ]:
# 재귀함수

def fact(n):
  if n == 1:
    return 1
  else:
    return n * fact(n-1)

fact(5)

120

In [ ]:
# 피보나치 수열 : 앞에 있는 수 2개를 더하는 수열
# 1 1 2 3 5 8 13 21 ...

count = 0

def pivo(n):
  global count
  count += 1

  if n==1 or n==2:
    return 1
  else:
    return pivo(n-1) + pivo(n-2)  
    # 이렇게 재귀를 부르면 기존에 계산했던 값을 다시 처음부터 계산함 -> 비효율적

pivo(35)
print(count)  # pivo(35)를 계산하기 위해서 함수를 count 개수만큼 반복 (18,454,929번)

18454929

In [1]:
count = 0

dic = {1 : 1,
       2 : 1}
  
def pivo(n):
  global count 
  count += 1

  if n in dic:
    return dic[n]
  else:
    dic[n] = pivo(n-1) + pivo(n-2)
    return dic[n]

pivo(35)
print(count)

67

In [2]:
dic

{1: 1,
 2: 1,
 3: 2,
 4: 3,
 5: 5,
 6: 8,
 7: 13,
 8: 21,
 9: 34,
 10: 55,
 11: 89,
 12: 144,
 13: 233,
 14: 377,
 15: 610,
 16: 987,
 17: 1597,
 18: 2584,
 19: 4181,
 20: 6765,
 21: 10946,
 22: 17711,
 23: 28657,
 24: 46368,
 25: 75025,
 26: 121393,
 27: 196418,
 28: 317811,
 29: 514229,
 30: 832040,
 31: 1346269,
 32: 2178309,
 33: 3524578,
 34: 5702887,
 35: 9227465}

In [ ]:
### 파일

In [ ]:
f = open('test.txt', 'wt') # write text : 파일 안에 항상 새롭게 다시 써줌

for i in range(1,11):
  f.write('{}번째 줄입니다.\n'.format(i))

f.close()

f = open('test.txt', 'at') # attach text : 기존 내용에 이어서 써줌
f.write('내용 추가')
f.close()

In [ ]:
f = open('test.txt', 'rt')  # read text : 파일 안에 내용 읽어옴
text_data = f.read()
f.close()

print(text_data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
내용 추가

In [ ]:
f = open('test.txt', 'rt')
text_data = f.readlines() # 파일 내용을 한줄한줄 읽어와서 리스트 형태로 저장
f.close()

print(text_data)

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n', '내용 추가']

In [ ]:
# 내장함수

a = abs(-5) # 절댓값
print(a)

5

In [ ]:
box = ['제니', '소미', '나연']

for i, j in enumerate(box): # 인덱스 번호와 컬렉션의 원소를 튜플 형태로 반환한다
  print(i, j)

0 제니
1 소미
2 나연

In [ ]:
a = input('값을 입력해주세요: ')  # 무조건 문자열로 입력받음
a

값을 입력해주세요: 3

'3'

In [ ]:
a = int(input('값을 입력해주세요: '))   # 숫자형태로 변환
a

값을 입력해주세요: 3

3

In [ ]:
int('101', 2)  # 2진법인 '101'을 10진법 숫자형태로 반환

5

In [ ]:
int('1A', 16)

26

In [ ]:
len([1,2,3,4,5])  # 리스트 길이 반환

5

In [ ]:
# 문자열 다루는 문제

list('python')  # 해당 문자열을 리스트로 변환시켜준다

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
min([1, 2, 3, 4, 5])

1

In [ ]:
max([1, 2, 3, 4, 5])

5

In [ ]:
sum([1,2,3,4,5])  # 리스트의 모든 원소들의 합을 반환

15

In [4]:
round(4.6)  # 반올림

5

In [5]:
round(4.2)

4

In [ ]:
round(3.141592, 2)  # 두번째 매개변수의 값만큼 소수점 아래 두번째자리까지 반올림해줌

3.14

In [ ]:
round(314, -2)  # 음수를 넣으면 10의 자리수도 반올림 가능

300

In [11]:
round(313, -1)

310

In [3]:
sorted([1,4,3,2]) # 정렬된 값을 반환하는 내장함수

[1, 2, 3, 4]

In [6]:
a = [1,2,3,4]
a.sort()  # 리스트 전용 함수

In [7]:
str(5)  # 문자열로 타입 변환

'5'

In [8]:
type('aaa') # 타입이 뭔지 확인

str

In [9]:
type([])

list

In [ ]:
a = [1,2,3,4]
b = [5,6,7,8]

for i, j in zip(a,b): # 리스트를 한번에 묶어줌
  print(i,j)

1 5
2 6
3 7
4 8